@font-face {
    font-family: 'Museo Sans';
    src: url('./fonts/MuseoSansCyrl.otf') format('truetype');
}
@font-face {
    font-family: 'Museo Sans2';
    src: url('./fonts/MuseoSansCyrl_2.otf') format('truetype');
}
@font-face {
    font-family: 'Museo Sans3';
    src: url('./fonts/MuseoSansCyrl_3.otf') format('truetype');
}
html{
    height: 100%;
}
body{
    font-family: 'Museo Sans';
    max-width: 1920px;
    margin: 0 auto;
    background: url(./img/bg.jpg) no-repeat;
    background-color: #23292e;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    color: #f5f8f9;
}
img{
    width: 100%;
    border: none;

}
h1.h1{
    font-family: 'Museo Sans2';
    letter-spacing: 0.96px;
    margin-bottom: 26px;

}
h3{
    color: #ffffff;
    font-family: 'Museo Sans2';
    font-size: 14px;
    font-weight: 400;
}
a:hover{
    text-decoration: none;
    color: #fff;
}

button:active, button:focus, a:active, a:focus, a:hover, a:focus {
    outline: none !important;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner, {
    border: none;
}
input, #callbacksubmit, #ordersubmit{
    border-radius: 35px;
    letter-spacing: 0.32px;
    line-height: 70px;
    outline: none;
    width: 100%;
    margin-bottom: 1em;
    min-width: 300px;
}
input[type="email"],
input[type="text"],
input[type="tel"]{
    padding-left: 17%;
}
:focus {
    outline: none;
}

.header {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    min-height: 150px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    margin: 0 9% 101px 7%;

}

.header-group {
    flex: 0 0 auto;
}

.logo{
    background-color: #fff;
    padding: 45px;
    position: relative;

}
.logo-wrapper{
    display: flex;
    align-items: center;

}
.logo-text{
    display: block;
    margin-left: 2em;
}
.main{
    margin: 0 9% 0 20.8%;
}
.phone {
    font-family: 'Museo Sans2';
    font-weight: 400;
    letter-spacing: 1.4px;
    margin-right: 2em;
}
.callback{
    background: transparent;
    padding: 0 2em;
    line-height: 60px;
    border-radius: 30px;
    color: #fff;
    border: 1px solid #fff;
    letter-spacing: 1.4px;
}
.links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 89px;
}
.link{
    display: flex;
    align-items: center;
    margin: 3em 2em 3em 0;
    border: none;
    text-decoration: none;
    color: #fff;
}
.link-img{
    width: 46px;
    margin-left: -1px;
    margin-top: -1px;
}
.link-img-wrap{
    width: 46px;
    height: 46px;
    border: 1px solid #ec3a48;
    border-radius: 50%;
    margin-right: 20px;
    
}
.link-text{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    border-bottom: 1px dotted #fff;
}
.btn-group{
    display: flex;
    justify-content: space-between;
    border: none;
    outline: none;
}
.button-key{
    display: inline-block;
    border: none;
    box-shadow: 0 13px 34px rgba(236, 58, 72, 0.5);
    border-radius: 35px;
    background-color: #ec3a48;
    color: #fff;
    font-family: 'Museo Sans2';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 70px;
}
.button-key:hover{
    box-shadow: 0 16px 40px rgba(236, 58, 72, 0.9);
    border-radius: 35px;
    background-color: #d42e3b;
    border: none;
    outline: none;
}
.button-text{
    line-height: 70px;
    margin: 29px;
}
.icon-key{
    width: 30px;
    height: 30px;
    margin-right: 29px;
}
.indicator-block{
    position: absolute;
    top: 40%;
    left: 7%;
    display: flex;
    flex-direction: column;
}
.indicator-item{
    width: 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}
.active{
    width: 40px;
    border-bottom: 1px solid #ec3a48;
}
/* modals */
.modal-title{
    color: #23292e;
    font-family: 'Museo Sans2';
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.96px;
    text-align: center;
    margin: 0 auto;
}
.modal-subtitle{
    color: #23292e;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    text-align: center !important;
    margin: 1em auto;
}
.modal-wrap{
    display: flex;
    width: 80%;
}
.modal-content{
    display: block;
    border-radius: 0;
    background-color: #f1f3f4;
}
.modal-img{
    display: block;
    width: 150%;
    background-color: transparent;
    margin: 30% 0 10% -40%;
}
.modal-img-wrap{
    background-color: #fff;
}
.modal-header{
    flex-direction: column;
}
.modal-myform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76%;
    margin: 1em auto;
}
.close{
    position: absolute;
    right: -86px;
    width: 102px;
    height: 102px;
    background-color: #ec3a48 !important;
    opacity: 1;
}
.close-sign{
    position: absolute;
    top: 37px;
    left: 43px;
    color: #fff;
}
.icon-70{
    width: 70px;
    margin: 0 auto;
}
.icon-user{
    background-image: url(./img/user.png);
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: 90% 20px;
}
.icon-ruble{
    width: 30px;
    height: 30px;
}
.icon-phone{
    background-image: url(./img/phone.png);
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: 90% 20px;
}
.icon-mail{
    background-image: url(./img/mail.png);
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: 90% 20px;
}
.icon-mobile{
    background-image: url(./img/mobile.png);
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: 90% 20px;
}